body {
	font-family: sans-serif;
	padding: 15px;
}

main {
	display: flex;
    gap: 32px;
}

div {
	width: 100px;
}

label {
	display: block;
}

input {
	width: 100%;
}

#result {
	margin-bottom: 0;
}
